img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 500px;

}
div {
    max-width: 500px;
    height: 100px;
    margin: auto;


    padding: 10px;
}
body{
    background-color: rgb(154, 210, 202);
    font-style: arial;
}
h1{
  font-family:fantasy;
  font-size: 64px;
  text-align: center;
}
h2{
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
}
iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
table {
    font-family: fantasy;
    border-collapse: collapse;
    width:80%;
    align-self: center;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
/* a{
  font-size: 50px;
  font-family: fantasy;

} */
